@page  
{ 
    /* size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 5mm 5mm 5mm 5mm;

}

div.card {
	width: 63mm;
	height: 86mm;
	/* border: 1px solid #000; */
	margin: 1mm;
	padding: 1mm;
	position: relative;
	float: left;
}


/* start agenda styles */
div.card div.agenda div.haas-bioroid {
	background-image: url("blanks/agenda/agenda_haas.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.agenda div.cost {
	position: absolute;
	right: 5.7mm;
	top: 4.5mm;
	font-weight: bold;
	font-size: 1.2em;
}

div.card div.agenda div.title {
	position: absolute;
	top: 5.5mm;
	left: 6mm;
	font-size: 0.8em;
	font-weight: bold;
}

div.card div.agenda div.type {
	position: absolute;
	top: 55.5mm;
	left: 20mm;
	font-size: 0.7em;
}

div.card div.agenda div.agendapoints {
	position: absolute;
	top: 45.5mm;
	left: 7mm;
	font-weight: bold;
	font-size: 1.2em;
}

div.card div.agenda div.text {
	position: absolute;
	width: 50mm;
	top: 61mm;
	left: 7mm;
	font-size: 0.5em;
}

div.card div.agenda div.cardart:after {
	position: absolute;
	top: 22.5mm;
	left: 22mm;
	content: "PROXY";
	color: gray;
	font-weight: bold;
	font-size: 2em;
}

div.card div.agenda div.nbn {
	background-image: url("blanks/agenda/agenda_nbn.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.agenda div.nbn div.agendapoints {
	top: 44.5mm;
}

div.card div.agenda div.weyland-consortium {
	background-image: url("blanks/agenda/agenda_weyland.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.agenda div.jinteki {
	background-image: url("blanks/agenda/agenda_jinteki.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.agenda div.neutral {
	background-image: url("blanks/agenda/agenda_neutral.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

/* end agenda styles */

/* start operation styles */

div.card div.operation div.jinteki {
	background-image: url("blanks/operation/operation_jinteki.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.operation div.nbn {
	background-image: url("blanks/operation/operation_nbn.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.operation div.neutral {
	background-image: url("blanks/operation/operation_neutral.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.operation div.weyland-consortium {
	background-image: url("blanks/operation/operation_weyland.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.operation div.haas-bioroid {
	background-image: url("blanks/operation/operation_haas.png");
	background-size: 63mm 86mm;
	background-repeat: none;
	width: 63mm;
	height: 86mm;
}

div.card div.operation div.title {
	position: absolute;
	top: 4mm;
	left: 17mm;
	font-size: 0.8em;
	font-weight: bold;
}

div.card div.operation div.text {
	position: absolute;
	width: 48mm;
	top: 58mm;
	left: 9mm;
	font-size: 0.5em;
}

div.card div.operation div.type {
	position: absolute;
	top: 51.5mm;
	left: 24mm;
	font-size: 0.7em;
}

div.card div.operation div.cost {
	position: absolute;
	left: 7.2mm;
	top: 6.5mm;
	font-weight: bold;
        color: white;
	font-size: 1.2em;
}

div.card div.operation div.cardart:after {
	position: absolute;
	top: 24.5mm;
	left: 18mm;
	content: "PROXY";
	color: gray;
	font-weight: bold;
	font-size: 2em;
}

/* end operation styles */


div.card div.text {
	width: 100%;
	text-align: center;
}

div.placeholder {
	width: 55mm;
	height: 75mm;
	border: 1px solid #000;
	margin: 1mm;
	padding: 1mm; 
	display: table; 
}

div.pagebreak {
	height: 240mm;
	page-break-after: always;
}

div.pos-2 {
	position: relative;
	left: 60mm;
	top: -78.5mm;
}

div.pos-3 {
	position: relative;
	left: 120mm;
	top: -157mm;
}

div.pos-4 {
	position: relative;
	left: 0mm;
	top: -155mm;
}

div.pos-5 {
	position: relative;
	left: 60mm;
	top: -233.5mm;
}

div.pos-6 {
	position: relative;
	left: 120mm;
	top: -312mm;
}

div.pos-7 {
	position: relative;
	left: 0mm;
	top: -310mm;
}

div.pos-8 {
	position: relative;
	left: 60mm;
	top: -388mm;
}

div.pos-9 {
	position: relative;
	left: 120mm;
	top: -466.5mm;
}

div.placeholder div.row {
	display: table-row;
}

div.placeholder div.title {
	font-weight: bold;
	color: gray;
	font-size: 1.5em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

div.placeholder div.faction {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	display: table-cell;
	vertical-align: bottom;
}

div.placeholder div.number {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	display: table-cell;
	vertical-align: bottom;
}

div.placeholder div.set {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	display: table-cell;
	vertical-align: top;
}

img {
	width: 63mm;
	height: 86mm;
}
