@page  
{ 
    /* size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 5mm 5mm 5mm 5mm;

}

div.card {
	width: 63mm;
	height: 86mm;
	margin: 1mm;
	padding: 1mm;
}

div.placeholder {
	width: 55mm;
	height: 75mm;
	border: 1px solid #000;
	margin: 1mm;
	padding: 1mm; 
	display: table; 
}

div.placeholder div.row {
	display: table-row;
}

div.placeholder div.title {
	font-weight: bold;
	color: gray;
	font-size: 1.5em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

div.placeholder div.faction {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	display: table-cell;
	vertical-align: bottom;
}

div.placeholder div.number {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	display: table-cell;
	vertical-align: bottom;
}

div.placeholder div.set {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	display: table-cell;
	vertical-align: top;
}
