.menu-item {
	min-width: 100px;
	border: 1px solid;
	float: left;
	text-align: center;
}

.menu-item a {
	text-decoration: none;
	margin: 10px 3px;
}

.selected {
	background: #ccc;
}

.navigation {
	overflow: auto;
	margin-left: 15px;
	margin-bottom: 15px;
	margin-top: -5px;
}

.navigation .selected {
	background-color: #eee;
} 

.navigation .align-right {
	float: right;
	margin-right: 15px;
}

.navigation .align-left {
	float: left;
}

#deck-text {
	width: 100%;
	height: 75%;
}


#deck-id {
	width: 100%;
}
